.menu {
    width: 100%;
    height: 100vh;
    background-image: url('../images/food.png');
    background-size: cover;
}

.menu__background {
    background-color: rgba(0, 0, 0, .3);
    width: 100%;
    height: 100%;
    padding: 5rem 0;
}

.menu__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 12rem;
    margin-bottom: 15rem;
}

.menu__logo-container {
    display: flex;
    justify-content: center;
}

.menu__logo-image {
    width: 40rem;
    height: 25rem;
} 

.menu__list {
    width: 100%;
    display: flex;
    justify-content: center;
}

/*<li {{#if contact }} class="menu__link active" {{/if}}>*/

.menu__link {
    font-size: 1.8rem;
    color: #FFF;
    display: inline-block;
    padding: .25rem 0;
    margin: 0 5rem;
    transition: all .3s ease;
    border-bottom: .55rem solid transparent;  
    font-weight: 300;  
}

.menu__link:hover {
    border-bottom: .55rem solid #FEC246;
}


.menu__bars {
    display: none;
}

.activate {
    left: -100%;
   
}

@media screen and (max-width: 560px) {
    .menu {
        height: 5rem;
        position: fixed;
        z-index: 100;
    }

    .menu__background {
        background-color: #1A2541;
        padding: 0rem;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu__nav {
        position: fixed;
        width: 100%;
        z-index: 100;
        padding: 0;
        margin-bottom: 0;
        top: 5rem;
        height: auto;
        background-color: #1A2541;
        /* left: -100%; */
    }

    .menu__list {
        flex-direction: column;
        height: 100%;
        justify-content: flex-start;
        align-items: center;
        
    }


    .menu__link {
        font-size: 1.8rem;
        color: white;
        display: inline-block;
        padding: 1rem 0;
        font-size: 1.4rem;
        width: 100%;
        text-align: center;
    }

    .menu__logo-image {
        width: 5rem;
        height: 3rem;
        margin-left: 2rem;
    }

    .menu__bars {
        display: block;
        padding: 1rem;
        margin-right: 2rem;
    }

    .menu__bars i {
        cursor: pointer;
        color: #fff;
        font-size: 1.4rem;
    }
}

