
.land_nav {
    background-color: black;
    color: #ffffff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    position: fixed;
}

.land_nav_list {
    border: 1px solid red;
    margin: 0px 15px ;
}

.land_nav_item {
    cursor: pointer;
}

.land_section {
    height: 500px;
    background-color: blueviolet;
    border: 1px solid red;
}

.fixe {
    position: fixed;
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    z-index: 1;
}

.map_custom {
    width: 100%;
    margin: auto;
}

.react-tabs__tab-panel {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
    width: 100% !important;
    list-style: none !important;
}

.gallery__item {
    list-style: none !important;
    cursor: pointer;
}

.gallery__filter {
    list-style: none !important;
}

.gallery__active {
    background-color: #F9A815 !important;
    /* color: #ffffff !important; */

    /* background-color: #eee; */
    padding: 1.2rem 2.4rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #999;
    border-right: .2rem solid #fff;
    transition: all .3s ease;
    margin-bottom: 2rem;
    cursor: pointer;
    /* border-radius: 50px !important; */
    /* margin-bottom: 1rem; */

}

.loading {
    width: 100px;
    margin: auto;
    margin-top: 40vh;
}

.loading_container {
    width: 100%;
    margin: auto;
}